Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

642: Small fix to skip db validation if no db changes are available
  .github/composite/validate-db/action.yml
  .github/scripts/validate-db/index.ts
  .github/workflows/deploy-stg.yml
Due: none

642: Wire up vitest & RTL
  js/package.json
  js/pnpm-lock.yaml
  js/tsconfig.json
  js/tsconfig.test.json
  js/vite.config.ts
Due: none

642: Add tests for LeaderboardMetadata (example test)
  js/src/app/leaderboard/_components/LeaderboardMetadata/LeaderboardMetadata.test.tsx
  js/src/app/leaderboard/_components/LeaderboardMetadata/LeaderboardMetadata.tsx
  js/src/components/ui/pretty-counter/PrettyCounter.tsx
  js/src/lib/api/common/apiResponse.ts
Due: frontend

642: Setup MSW & test utils required for writing frontend tests
  .gitignore
  .vscode/extensions.json
  example.env
  example.env.staging
  js/src/__mock__/index.tsx
  js/src/__mock__/leaderboard/index.ts
  js/src/lib/test/defaults.tsx
  js/src/lib/test/index.tsx
  js/src/main.tsx
Due: frontend

642: Add frontend testing to CI
  .dockerignore
  .github/composite/test/frontend-test/action.yml
  .github/scripts/build-image/index.ts
  .github/scripts/test/run-backend-tests.ts
  .github/scripts/test/run-frontend-tests.ts
  .github/scripts/utils/upload.ts
  .github/workflows/ci-cd.yml
  codecov.yml
Due: none

722: Double vRAM for production
  .do/specs.ts
Due: none

729: Make sure that @/patches is always first to be imported
  js/src/main.tsx
Due: frontend

729: Dynamically import test server if explicitly enabled via env flag
  js/src/main.tsx
Due: frontend

722: Remove leaderboard images from all Discord leaderboard flows
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/jda/client/JDAClient.java
  src/main/java/org/patinanetwork/codebloom/jda/client/options/EmbeddedImagesMessageOptions.java
Due: backend

677: update cache to v5
  .github/composite/build-image/action.yml
  .github/composite/redeploy/action.yml
  .github/composite/setup-ci/action.yml
  .github/composite/test/backend-pre-test/action.yml
  .github/composite/test/backend-test/action.yml
  .github/composite/test/frontend-pre-test/action.yml
  .github/composite/test/frontend-test/action.yml
  .github/composite/validate-db/action.yml
Due: none

677: use postgres alpine for slimmer image
  .github/scripts/utils/run-local-db.ts
Due: none

677: replace maven caching with explicit cache action
  .github/composite/build-image/action.yml
  .github/composite/redeploy/action.yml
  .github/composite/test/backend-pre-test/action.yml
  .github/composite/test/backend-test/action.yml
  .github/composite/test/frontend-pre-test/action.yml
  .github/composite/test/frontend-test/action.yml
  .github/composite/validate-db/action.yml
Due: none

734: wip
  .env.ci
  .github/scripts/test/run-backend-tests.ts
  .github/scripts/test/run-frontend-tests.ts
  .github/scripts/types.ts
  .github/scripts/utils/upload.ts
  .gitignore
  example.env.ci
  js/.prettierignore
  js/.stylelintignore
  js/eslint.config.js
  js/package.json
  js/pnpm-lock.yaml
  js/vite.config.ts
  pom.xml
Due: none

734: Add SonarQube (DESC)
  .env.ci
  .github/scripts/test/run-backend-tests.ts
  .github/scripts/test/run-frontend-tests.ts
  .github/scripts/types.ts
  .github/scripts/utils/upload.ts
  .gitignore
  example.env.ci
  js/.prettierignore
  js/.stylelintignore
  js/eslint.config.js
  js/package.json
  js/pnpm-lock.yaml
  js/vite.config.ts
  pom.xml
Due: none

657: Small cleanup & renaming
  db/migration/V0071__Create_feedback_table.SQL
  src/main/java/org/patinanetwork/codebloom/api/reporter/ReporterController.java
  src/test/java/org/patinanetwork/codebloom/api/reporter/ReporterControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/feedback/FeedbackRepositoryTest.java
Due: backend

657: added validate method for description length
  src/main/java/org/patinanetwork/codebloom/api/reporter/ReporterController.java
  src/main/java/org/patinanetwork/codebloom/api/reporter/body/FeedbackBody.java
  src/test/java/org/patinanetwork/codebloom/api/reporter/ReporterControllerTest.java
Due: backend

657: create feedback table, add feedback endpoint
  db/migration/V0071__Create_report_table.SQL
  src/main/java/org/patinanetwork/codebloom/api/reporter/ReporterController.java
  src/main/java/org/patinanetwork/codebloom/api/reporter/body/FeedbackBody.java
  src/main/java/org/patinanetwork/codebloom/common/db/models/feedback/Feedback.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/feedback/FeedbackRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/feedback/FeedbackSqlRepository.java
  src/test/java/org/patinanetwork/codebloom/api/reporter/ReporterControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/feedback/FeedbackRepositoryTest.java
Due: backend

528: Added Log Forwarding to observability
  .do/specs.ts
  .env.ci
  .github/scripts/redeploy/do/index.ts
Due: none

743: Generate new GitHub password for local
  .env.shared
Due: none

737: Added gauge for SimpleRedis
  src/main/java/org/patinanetwork/codebloom/common/simpleredis/SimpleRedis.java
  src/main/java/org/patinanetwork/codebloom/common/simpleredis/SimpleRedisProvider.java
  src/main/resources/application.yml
Due: backend

704: exhausive-deps causes eslint error, past warnings resolved
  js/eslint.config.js
  js/src/app/duel/[lobbyCode]/_components/active/ActiveDuelBody.tsx
  js/src/lib/api/queries/duels/sse/index.ts
Due: frontend

734: Print stdout when running Sonar
  .github/scripts/utils/upload.ts
Due: none

734: Deprecate Codecov usage
  .env.ci
  .github/composite/test/backend-test/action.yml
  .github/composite/test/frontend-test/action.yml
  .github/scripts/test/run-backend-tests.ts
  .github/scripts/test/run-frontend-tests.ts
  .github/scripts/utils/upload.ts
  example.env.ci
Due: none
