Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

720: fix dashboard, user submissions skeletons
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboardSkeleton.tsx
  js/src/app/submission/[submissionId]/_components/SubmissionDetailsContent.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissionsSkeleton.tsx
Due: frontend

720: fix leaderboard, user profile skeletons
  js/src/app/leaderboard/_components/LeaderboardMetadata/LeaderboardMetadata.tsx
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePictureSkeleton.tsx
  js/src/app/user/[userId]/_components/UserProfile/UserProfileHeaderSkeleton.tsx
  js/src/app/user/[userId]/_components/UserProfile/UserTags/UserTags.tsx
  js/src/app/user/[userId]/_components/UserProfile/UserTags/UserTagsSkeleton.tsx
Due: frontend

720: more fix
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePicture.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
Due: frontend

720: prettier
  js/src/__mock__/user/index.ts
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePicture.test.tsx
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePictureSkeleton.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissionsSkeleton.tsx
Due: frontend

720: remove mock frontend data, prettier rewrite
  js/src/app/leaderboard/_components/LeaderboardMetadata/LeaderboardMetadata.tsx
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePictureSkeleton.tsx
  js/src/app/user/[userId]/_components/UserProfile/UserTags/UserTags.tsx
  js/src/app/user/[userId]/_components/UserProfile/UserTags/UserTagsSkeleton.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissionsSkeleton.tsx
Due: frontend

720: Include src/main.tsx in tsconfig.test.json
  js/tsconfig.test.json
Due: none

720: remove user mock
  js/src/__mock__/user/index.ts
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePicture.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
Due: frontend

720: add frontend tests
  js/src/__mock__/user/index.ts
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePicture.test.tsx
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePictureSkeleton.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissionsSkeleton.tsx
Due: frontend

759: Updated leaderboardChannelId for Patina Network, MHC++, and GWC Hunter College
  .github/scripts/copy-prod-db/index.ts
Due: none

759: Changes to embed message
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
Due: backend

719: Added route to send test discord message to club
  src/main/java/org/patinanetwork/codebloom/api/admin/AdminController.java
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/jda/client/JDAClient.java
Due: backend

719: Added backend tests
  src/test/java/org/patinanetwork/codebloom/api/admin/AdminControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: none

719: Output better messages for invalid or incorrect clubId
  src/main/java/org/patinanetwork/codebloom/api/admin/AdminController.java
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/test/java/org/patinanetwork/codebloom/api/admin/AdminControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: backend

763: Load .env.shared and .env in dev mode
  Justfile
Due: none

772: Renamed Client files
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmail.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailImpl.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplater.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterImpl.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/TestEmailClients.java
  src/test/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTest.java
Due: backend

762: Setup manual keepalive settings to Redis conn
  internal/standup-bot/src/redis/client.rs
Due: none

776: Renamed Client files
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/email/EmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/error/EmailException.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplater.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterImpl.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/TestEmailClients.java
  src/test/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterTest.java
Due: backend

762: (HOTFIX) incorrectly cause unwrap/panic
  internal/standup-bot/src/redis/client.rs
Due: none

687: replace env processing with yargs
  .github/scripts/bun.lock
  .github/scripts/load-secrets/index.ts
  .github/scripts/package.json
Due: none

660: replace env processing with yargs
  .github/scripts/bun.lock
  .github/scripts/load-secrets/index.ts
  .github/scripts/package.json
Due: none

751: Superceded fails deployment
  .github/scripts/redeploy/do/index.ts
Due: none

660: use camelcase
  .github/scripts/load-secrets/index.ts
Due: none

773: Changed is_stand_up day to days we dont have stand up
  internal/standup-bot/src/utils/standup.rs
Due: none

768: Update type signatures (DESC)
  js/src/app/embed/leaderboard/_components/OrgHeader.tsx
  js/src/lib/api/utils/index.ts
  js/src/lib/api/utils/metadata/tag/index.ts
  js/src/lib/api/utils/types.ts
  js/src/lib/hooks/useFilters.ts
Due: frontend

779: Add missing Mhc++ in Leaderboard Sql to fix using global index bug
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardSqlRepository.java
Due: backend
