Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

948: Replaced GH PAT with tahmite app values
  .env.staging
Due: none

240: Create new filters param on previous leaderboard endpoint and fixed leaderboard tests.
  src/main/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardController.java
  src/test/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardControllerTest.java
Due: backend

946: Added Andrew to credits
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

908: Updated .env.shared
  .env.shared
Due: none

958: Re-added deploy step to workflow
  .github/workflows/ci-cd.yml
Due: none

958: Removed standup bot redeployment
  .github/workflows/ci-cd.yml
Due: none

908: Commented out unfilled properties in .env.shared
  .env.shared
Due: none

908: .env variables have priority over .env.shared
  .env.shared
  Justfile
Due: none

966: Added delay to cron jobs with failed tests
  src/main/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealer.java
  src/main/java/org/patinanetwork/codebloom/scheduled/discord/WeeklyLeaderboard.java
  src/main/java/org/patinanetwork/codebloom/scheduled/leetcode/AttachTagsToExistingQuestion.java
  src/main/java/org/patinanetwork/codebloom/scheduled/leetcode/LeetcodeQuestionProcessService.java
  src/main/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsService.java
Due: backend

973: Enabled maintainence mode
  .do/specs.ts
Due: none

974: Add CODEOWNERS
  CODEOWNERS
Due: none

972: Replaced IO.println with log.info
  src/main/java/org/patinanetwork/codebloom/jda/JDAClientManager.java
Due: backend

972: Removed System print statements
  src/test/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardRepositoryRankTest.java
Due: none

974: Update CODEOWNERS file to gate .github/ approval being cicd team
  CODEOWNERS
Due: none

974: Update sonar token credential to use Patina Network's project(s)
  .env.ci
Due: none

974: update sonar ocnfig to point to Patina Network instead
  .github/scripts/utils/upload.ts
Due: none

974: Update CODEOWNERS file to gate .github/ approval being cicd team + fix Sonar CICD integrations (#924)
  .env.ci
  .github/scripts/utils/upload.ts
  CODEOWNERS
Due: none

551: simplified syntax for miw prop
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDay.tsx
Due: frontend

551: Fix Leaderboard Card Ordering On Mobile View
  js/src/app/dashboard/Dashboard.page.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDay.tsx
Due: frontend

551: implemented orderedComponents to reduce code duplication
  js/src/app/dashboard/Dashboard.page.tsx
Due: frontend

938: Added Isabella Lam to credits
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

255: Sort admin users to top of user list
  js/src/app/admin/_components/users/UserAdminList.tsx
Due: frontend

940: Created component for duel timer
  js/src/app/duel/current/DuelTimer.tsx
Due: frontend

940: Created temporary path to test duel timer
  js/src/lib/router.tsx
Due: frontend

Loki: Remove log forwarding in logback config
  src/main/resources/logback-spring.xml
Due: none

Path conditions:
  backend: any of: src/main/java/
  frontend: any of: js/src/
