Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

854: protector to protected
  src/main/java/org/patinanetwork/codebloom/api/admin/AdminController.java
  src/main/java/org/patinanetwork/codebloom/api/announcement/AnnouncementController.java
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardController.java
  src/main/java/org/patinanetwork/codebloom/api/submission/SubmissionController.java
  src/test/java/org/patinanetwork/codebloom/api/admin/AdminControllerTest.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardControllerTest.java
  src/test/java/org/patinanetwork/codebloom/api/submission/SubmissionControllerTest.java
Due: backend

885: Replace secret.* in composite workflows with input.*
  .github/composite/notion-checks/action.yml
  .github/composite/redeploy/action.yml
  .github/composite/redeploy/internal/standup-bot/action.yml
  .github/composite/validate-db/action.yml
Due: none

885: Remove corepack calls when pnpm is already setup in GitHub Actions
  .github/scripts/test/run-backend-tests.ts
  .github/scripts/test/run-frontend-tests.ts
Due: none

885: Pin all pnpm setup to v5
  .github/composite/build-image/action.yml
  .github/composite/redeploy/action.yml
  .github/composite/test/backend-test/action.yml
  .github/composite/test/frontend-pre-test/action.yml
  .github/composite/test/frontend-test/action.yml
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
Due: none

851: Move leetcode enum to pretty name lookup to backend type generator
  js/src/lib/api/utils/index.ts
  js/src/lib/api/utils/metadata/topic/index.ts
  js/src/lib/api/utils/types.ts
  src/main/java/org/patinanetwork/codebloom/common/db/models/question/topic/TopicMetadataList.java
  src/main/java/org/patinanetwork/codebloom/common/db/models/question/topic/TopicMetadataObject.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/DataShape.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/Generator.java
  src/test/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGeneratorTest.java
Due: backend, frontend

871: Add update k8s verstion tag CI function
  .github/composite/build-image/action.yml
  .github/composite/build-image/internal/standup-bot/action.yml
  .github/composite/deploy-standup-bot/action.yaml
  .github/composite/deploy-web/action.yaml
  .github/scripts/build-image/index.ts
  .github/scripts/build-image/internal/standup-bot.ts
  .github/scripts/bun.lock
  .github/scripts/deploy/index.ts
  .github/scripts/package.json
  .github/scripts/types.ts
  .github/scripts/utils/create-k8s-pr.ts
  .github/scripts/utils/short-id.ts
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-command.yml
Due: none

855: add tests
  js/src/__mock__/admin/index.ts
  js/src/app/admin/_components/leaderboards/pagination/new-leaderboard/EditLeaderboardFormBody.test.tsx
  js/src/app/admin/_components/leaderboards/pagination/new-leaderboard/EditLeaderboardFormBody.tsx
  js/src/lib/test/index.tsx
Due: frontend

855: add edit leaderboard modal
  js/src/app/admin/_components/leaderboards/pagination/AllLeaderboardAdmin.tsx
  js/src/app/admin/_components/leaderboards/pagination/new-leaderboard/EditLeaderboardFormBody.tsx
  js/src/app/admin/_components/types.ts
  js/src/lib/api/queries/admin/index.ts
  src/main/java/org/patinanetwork/codebloom/api/admin/body/EditLeaderboardBody.java
Due: backend, frontend

851: Pr changes
  src/main/java/org/patinanetwork/codebloom/common/db/models/question/topic/TopicMetadataObject.java
  src/main/java/org/patinanetwork/codebloom/shared/TypableObject.java
  src/main/java/org/patinanetwork/codebloom/shared/tag/TagMetadataList.java
  src/main/java/org/patinanetwork/codebloom/shared/topic/TopicMetadataList.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/DataShape.java
  src/test/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGeneratorTest.java
Due: backend

871: Pr changes
  .github/scripts/bun.lock
  .github/scripts/deploy/index.ts
  .github/scripts/package.json
  .github/scripts/utils/create-k8s-pr.ts
  .github/scripts/utils/short-id.ts
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-command.yml
Due: none

877: Migrated UserTag/UserTagRepository to use Optional
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/usertag/UserTagRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/usertag/UserTagSqlRepository.java
  src/test/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/user/UserTagRepositoryTest.java
Due: backend

888: Add 1 git-crypt collaborator (@Arshadul-Monir) to L3
  .git-crypt/keys/l3/0/884D9798A341D5862AAB23C8B67890E6EA88C2F5.gpg
Due: none

877: mvn
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
Due: backend

855: add tests
  js/src/__mock__/admin/index.ts
  js/src/app/admin/_components/leaderboards/pagination/new-leaderboard/EditLeaderboardFormBody.test.tsx
  js/src/app/admin/_components/leaderboards/pagination/new-leaderboard/EditLeaderboardFormBody.tsx
  js/src/lib/api/queries/admin/index.ts
  js/src/lib/test/index.tsx
  src/main/java/org/patinanetwork/codebloom/api/admin/body/EditLeaderboardBody.java
Due: backend, frontend

851: Pr changes
  .github/composite/build-image/action.yml
  .github/composite/test/backend-test/action.yml
  .github/composite/test/frontend-pre-test/action.yml
  .github/composite/test/frontend-test/action.yml
  .github/scripts/build-image/index.ts
  .github/scripts/test/run-frontend-pre-tests.ts
  .github/scripts/test/run-frontend-tests.ts
  src/main/java/org/patinanetwork/codebloom/common/db/models/question/topic/TopicMetadataObject.java
  src/main/java/org/patinanetwork/codebloom/shared/TypableObject.java
  src/main/java/org/patinanetwork/codebloom/shared/tag/TagMetadataList.java
  src/main/java/org/patinanetwork/codebloom/shared/topic/TopicMetadataList.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/DataShape.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/Generator.java
  src/test/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGeneratorTest.java
Due: backend

873: Migrate Session repository to use Optional
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
  src/main/java/org/patinanetwork/codebloom/common/db/models/Session.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/session/SessionRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/session/SessionSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/common/dto/session/SessionDto.java
  src/main/java/org/patinanetwork/codebloom/common/security/Protector.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/session/SessionRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/security/ProtectorTest.java
  src/test/java/org/patinanetwork/codebloom/config/TestProtector.java
Due: backend

873: added throw for missing id
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/session/SessionSqlRepository.java
Due: backend

873: removed errant files
  src/main/java/org/patinanetwork/codebloom/common/security/annotation/featureflag/FF.java
  src/main/java/org/patinanetwork/codebloom/common/security/annotation/featureflag/FeatureFlagManager.java
Due: backend

873: Fixed exception
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/security/annotation/featureflag/FF.java
  src/main/java/org/patinanetwork/codebloom/common/security/annotation/featureflag/FeatureFlagManager.java
Due: backend

871: Fixed Issues that was failing bot
  .github/composite/build-image/action.yml
  .github/composite/deploy-web/action.yaml
  .github/scripts/deploy/index.ts
  .github/workflows/deploy-command.yml
Due: none
