Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

906: Added Andrew git-crypt collaborator L1 L2
  .git-crypt/keys/l1/0/D7765720AB91507796BA0CC21DD52F4FCEDC84B5.gpg
  .git-crypt/keys/l2/0/D7765720AB91507796BA0CC21DD52F4FCEDC84B5.gpg
Due: none

906: Added Allison git-crypt collaborator L1 L2
  .git-crypt/keys/l1/0/8A789D36BB86DA2B5B1F33DCCB39E97CC6496081.gpg
  .git-crypt/keys/l2/0/8A789D36BB86DA2B5B1F33DCCB39E97CC6496081.gpg
Due: none

911: Added <your name> to credits
  src/main/java/org/patinanetwork/codebloom/common/leetcode/throttled/ThrottledLeetcodeClientImpl.java
Due: backend

916: Added Isabella Lam to credits
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

918: Added Randy to /api
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

929: Changed author size test
  src/test/java/org/patinanetwork/codebloom/api/ApiControllerTest.java
Due: none

935: Added Isabella Lam to credits
  dump.rdb
Due: none

930: Changed author size test
  src/test/java/org/patinanetwork/codebloom/api/ApiControllerTest.java
Due: none

930: Disabled rate limiter in ci
  src/main/java/org/patinanetwork/codebloom/utilities/RateLimitingFilter.java
Due: backend

897: Overrided codebloom.scheduling.enabled and codebloom.notify.enabled for staging environment
  src/main/resources/application-stg.yml
Due: none

917: Added Mali to credits
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

952: Lowered maximum pool size to 1 in app yml
  src/main/resources/application-stg.yml
Due: none

952: Reverted "952: Lowered maximum pool size to 1 in app yml"
  src/main/resources/application-stg.yml
Due: none

954: Added Henry and Arsh to Reviewers
  .github/workflows/approval.yml
Due: none

949: Added workflow.md file
  docs/local/WORKFLOW.md
Due: none

934: add haoking to /api
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

932: Added Maliha to credits
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

939: added Randy to /api endpoint
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

240: Create new filters param on previous leaderboard endpoint and fixed leaderboard tests.
  src/main/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardController.java
  src/test/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardControllerTest.java
Due: backend

933: Added Andrew to credits
  src/main/java/org/patinanetwork/codebloom/utilities/ServerMetadataObject.java
Due: backend

965: Reset DigitalOcean PAT for staging deployment
  .env.ci
  .github/scripts/github_token/index.ts
Due: none

965: Reset DigitalOcean PAT for staging deployment
  .env.ci
Due: none

901: center mobile navigation title and login button
  js/src/components/ui/header/Header.tsx
Due: frontend

872: code coverage
  src/test/java/org/patinanetwork/codebloom/common/db/repos/task/BackgroundTaskRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/scheduled/leetcode/FetchAllLeetcodeQuestionsTest.java
Due: none

872: Migrate BackgroundTaskRepo to use Optional
  src/main/java/org/patinanetwork/codebloom/common/db/repos/task/BackgroundTaskRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/task/BackgroundTaskSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/scheduled/leetcode/FetchAllLeetcodeQuestions.java
  src/main/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsService.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/task/BackgroundTaskRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/scheduled/leetcode/FetchAllLeetcodeQuestionsTest.java
  src/test/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsServiceTest.java
Due: backend

963: create DuelResults table
  db/migration/V0077__Create_DuelResults_table.sql
  db/repeated/R__Mock_V0027_Insert_mock_lobby_question.sql
  db/repeated/R__Mock_V0028_Insert_mock_duel_results.sql
Due: none

947: Created Submit and Forfeit buttons
  js/src/app/duel/current/ForfeitButton.tsx
  js/src/app/duel/current/SubmitButton.tsx
Due: frontend
