Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

720-2: fix embed leaderboard skeleton
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
Due: frontend

720-2: minor fix, fix frontend tests
  js/src/app/embed/leaderboard/_components/OrgEmbedView.test.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
Due: frontend

720-2: add leaderboardskeleton tests
  js/src/app/leaderboard/_components/LeaderboardSkeleton.test.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
Due: frontend

720-2: remove .tsx from import
  js/src/app/leaderboard/_components/LeaderboardSkeleton.test.tsx
Due: frontend

697: Added repository function to get DiscordClub by guildId
  src/main/java/org/patinanetwork/codebloom/common/db/repos/discord/club/DiscordClubRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/discord/club/DiscordClubSqlRepository.java
Due: backend

697: Clean up JDA logic & invert dependency logic
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/discord/club/DiscordClubRepository.java
  src/main/java/org/patinanetwork/codebloom/jda/JDAClientManager.java
  src/main/java/org/patinanetwork/codebloom/jda/JDAEventListener.java
  src/main/java/org/patinanetwork/codebloom/jda/JDAEventListenerInitializer.java
  src/main/java/org/patinanetwork/codebloom/jda/client/JDAClient.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/config/NoJdaRequired.java
Due: backend

697: Setup proper guardrails and boundaries for slash command initialization
  src/main/java/org/patinanetwork/codebloom/jda/JDAClientManager.java
  src/main/java/org/patinanetwork/codebloom/jda/JDACommandRegisterHandler.java
  src/main/java/org/patinanetwork/codebloom/jda/JDAEventListenerInitializer.java
  src/main/java/org/patinanetwork/codebloom/jda/command/JDASlashCommand.java
  src/main/java/org/patinanetwork/codebloom/jda/command/JDASlashCommandHandler.java
  src/main/java/org/patinanetwork/codebloom/jda/command/JDASlashCommandInitializer.java
  src/test/java/org/patinanetwork/codebloom/jda/JDAEventListenerTest.java
Due: backend

697: Added rate limiting to command
  src/main/java/org/patinanetwork/codebloom/common/simpleredis/SimpleRedisSlot.java
  src/main/java/org/patinanetwork/codebloom/jda/command/JDASlashCommandHandler.java
  src/test/java/org/patinanetwork/codebloom/jda/JDASlashCommandHandlerTest.java
Due: backend

697: Added Tests for new code
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/discord/club/DiscordClubRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/jda/JDAEventListenerTest.java
Due: none

697: Adjusted build function to match recent changes
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
Due: backend

697: Added flag to add "weekly" to message builder
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: backend

697: Added leaderboard command to discord bot
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/jda/JDAEventListener.java
Due: backend

697: Fix tests by mocking JDASlashCommandInitializer for base repo tests & no JDA required tests + handle interruped exception
  src/main/java/org/patinanetwork/codebloom/jda/JDAClientManager.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/config/NoJdaRequired.java
  src/test/java/org/patinanetwork/codebloom/jda/JDACommandRegisterHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/jda/JDASlashCommandHandlerTest.java
Due: backend

697: Update Justfile to merge .env.shared & .env when running just backend-test
  Justfile
Due: none

768: added subfilter menu for school clubs
  js/src/app/leaderboard/_components/Leaderboard.tsx
Due: frontend

768: clean up
  js/src/app/leaderboard/_components/Leaderboard.tsx
Due: frontend

768: added leaderboard tests
  js/src/app/leaderboard/_components/Leaderboard.test.tsx
  js/src/app/leaderboard/_components/Leaderboard.tsx
Due: frontend

697: Implement slash command registration correctly according to JDA docs
  src/main/java/org/patinanetwork/codebloom/jda/JDACommandRegisterHandler.java
Due: backend

697: update tests
  src/test/java/org/patinanetwork/codebloom/jda/JDACommandRegisterHandlerTest.java
Due: none

782: Update standup bot to ignore commands it doesnt recognize
  internal/standup-bot/src/discord/handlers.rs
Due: none

785: Move scripts/ dir into internal/scripts
  Justfile
  internal/scripts/eslint.config.js
  internal/scripts/git-crypt/add-user/index.js
  internal/scripts/git-crypt/add-user/source.tsx
  internal/scripts/git-crypt/generate-key/index.js
  internal/scripts/git-crypt/generate-key/source.tsx
  internal/scripts/package.json
  internal/scripts/pnpm-lock.yaml
  internal/scripts/tsconfig.json
Due: none

785: Total refactor of README.md
  README.md
  screenshots/stg-leaderboard.png
Due: none

785: Remove leftover codecov.yml file
  codecov.yml
Due: none

786: Auto approval script
  .github/scripts/auto-approval/index.ts
  .github/workflows/auto-approval.yml
Due: none

Path conditions:
  backend: any of: src/main/java/
  frontend: any of: js/src/
