Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

758: Added junit report to workflow
  .github/composite/test/backend-test/action.yml
Due: none

758: Added checks permissions to ci-cd and deploy
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-command.yml
Due: none

770: Frontend Tests added
  js/src/app/user/[userId]/UserProfile.page.test.tsx
  js/src/app/user/[userId]/UserProfile.page.tsx
  js/src/app/user/[userId]/submissions/UserSubmissions.page.test.tsx
  js/src/lib/test/index.tsx
Due: frontend

770: Fixed Flow of Website and Added clear change and date range to profile
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/MyCurrentPoints.tsx
  js/src/app/embed/leaderboard/_components/OrgEmbedView.test.tsx
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
  js/src/app/leaderboard/_components/Leaderboard.test.tsx
  js/src/app/leaderboard/_components/Leaderboard.tsx
  js/src/app/user/[userId]/UserProfile.page.tsx
  js/src/app/user/[userId]/submissions/UserSubmissions.page.tsx
  js/src/components/ui/LeaderboardCard.tsx
  js/src/lib/helper/leaderboardDateRange.ts
Due: frontend

770: Fixes
  js/src/app/user/[userId]/UserProfile.page.tsx
  js/src/app/user/[userId]/submissions/UserSubmissions.page.tsx
Due: frontend

770: Refactor test utils & tests
  js/src/app/user/[userId]/UserProfile.page.test.tsx
  js/src/app/user/[userId]/submissions/UserSubmissions.page.test.tsx
  js/src/lib/test/index.tsx
Due: frontend

770: Changes to frontend based off pr
  js/src/app/user/[userId]/UserProfile.page.test.tsx
  js/src/app/user/[userId]/UserProfile.page.tsx
  js/src/app/user/[userId]/submissions/UserSubmissions.page.test.tsx
  js/src/lib/test/defaults.tsx
Due: frontend

812: Typo fix
  js/src/app/dashboard/_components/RefreshSubmissions.tsx
Due: frontend

807: fix minileaderboard to show usertags on landing page + mobile
  js/src/app/_component/MiniLeaderboard.tsx
  js/src/app/_component/MiniLeaderboardMobile.tsx
Due: frontend

814: Update Redis credentials to point to new IP
  .env.ci-app
  .env.production
  .env.staging
Due: none

814: Update Redis credentials to point to new IP for codebloom standup bot
  internal/standup-bot/.env.production
Due: none

815: Massively increased wait time per request
  src/main/java/org/patinanetwork/codebloom/common/leetcode/throttled/ThrottledLeetcodeClientImpl.java
Due: backend

784: Pr changes and fixed search box
  js/src/app/user/all/_components/UserSearch.test.tsx
  js/src/app/user/all/_components/UserSearch.tsx
  js/src/app/user/all/_components/UserSearchSkeleton.tsx
  js/src/components/ui/header/Header.tsx
Due: frontend

784: Added a Search all Page + Search all Test+ added to nav bar
  js/src/__mock__/user/index.ts
  js/src/app/user/all/UserSearch.page.tsx
  js/src/app/user/all/_components/UserSearch.test.tsx
  js/src/app/user/all/_components/UserSearch.tsx
  js/src/components/ui/header/Header.tsx
  js/src/lib/api/queries/user/index.ts
  js/src/lib/router.tsx
Due: frontend

784: Pr Changes code quality wise
  js/src/__mock__/user/index.ts
  js/src/app/user/all/_components/UserSearch.test.tsx
  js/src/app/user/all/_components/UserSearch.tsx
  js/src/components/ui/header/Header.tsx
  js/src/components/wrapper/box/index.tsx
  js/src/components/wrapper/index.tsx
  js/src/lib/api/queries/user/index.ts
Due: frontend

815: Update tests
  src/test/java/org/patinanetwork/codebloom/api/submission/SubmissionControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/components/duel/DuelManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/leetcode/throttled/ThrottledLeetcodeClientTest.java
  src/test/java/org/patinanetwork/codebloom/common/utils/lock/QueueLockTest.java
Due: none

815: Replace leetcode throttler with a custom QueueLock that can allow for 'fast tracking' certain requests that are more latency-sensitive
  src/main/java/org/patinanetwork/codebloom/api/submission/SubmissionController.java
  src/main/java/org/patinanetwork/codebloom/common/components/duel/DuelManager.java
  src/main/java/org/patinanetwork/codebloom/common/leetcode/throttled/ThrottledLeetcodeClient.java
  src/main/java/org/patinanetwork/codebloom/common/leetcode/throttled/ThrottledLeetcodeClientImpl.java
  src/main/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandler.java
  src/main/java/org/patinanetwork/codebloom/common/utils/lock/QueueLock.java
  src/main/java/org/patinanetwork/codebloom/scheduled/submission/SubmissionScheduler.java
Due: backend

801: add synchronize to retrigger ai reviews for new commits
  .github/workflows/ai-review.yml
Due: none

784: Fixed footer Issue
  js/src/app/user/all/_components/UserSearch.tsx
Due: frontend

774: Moved Playwright application to new file
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightProvider.java
Due: backend

774: Replaced usePage with withPage from PlaywrightProvider
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightProvider.java
  src/test/java/org/patinanetwork/codebloom/playwright/PlaywrightClientTest.java
Due: backend

774: Added tests for PlaywrightClient
  exclusions.ts
  src/test/java/org/patinanetwork/codebloom/playwright/PlaywrightClientTest.java
Due: none
