Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

697: update tests
  src/test/java/org/patinanetwork/codebloom/jda/JDACommandRegisterHandlerTest.java
Due: none

697: Implement slash command registration correctly according to JDA docs
  src/main/java/org/patinanetwork/codebloom/jda/JDACommandRegisterHandler.java
Due: backend

782: Update standup bot to ignore commands it doesnt recognize
  internal/standup-bot/src/discord/handlers.rs
Due: none

hide names to take screenshots
  js/src/app/_component/MiniLeaderboard.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/leaderboard/_components/Leaderboard.tsx
  js/src/lib/helper/num.ts
Due: frontend

720-2: remove .tsx from import
  js/src/app/leaderboard/_components/LeaderboardSkeleton.test.tsx
Due: frontend

720-2: fix embed leaderboard skeleton
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
Due: frontend

720-2: add leaderboardskeleton tests
  js/src/app/leaderboard/_components/LeaderboardSkeleton.test.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
Due: frontend

720-2: minor fix, fix frontend tests
  js/src/app/embed/leaderboard/_components/OrgEmbedView.test.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
Due: frontend

720-2: fix frontend leaderboard.test.tsx
  js/src/app/leaderboard/_components/Leaderboard.test.tsx
Due: frontend

789: Move @role from embed to message in standup bot
  internal/standup-bot/src/discord/client.rs
Due: none

791: Renamed Client files
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/email/EmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/error/EmailException.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplater.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterImpl.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/TestEmailClients.java
  src/test/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterTest.java
Due: backend

770: Force Coolify SDK to use force when triggering reploy
  .github/scripts/redeploy/internal/standup-bot/utils.ts
Due: none

793: Remove old text section from Discord embed
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
Due: backend

785: Move scripts/ dir into internal/scripts
  Justfile
  internal/scripts/eslint.config.js
  internal/scripts/git-crypt/add-user/index.js
  internal/scripts/git-crypt/add-user/source.tsx
  internal/scripts/git-crypt/generate-key/index.js
  internal/scripts/git-crypt/generate-key/source.tsx
  internal/scripts/package.json
  internal/scripts/pnpm-lock.yaml
  internal/scripts/tsconfig.json
Due: none

785: Add/update internal readmes
  internal/README.md
  internal/scripts/.gitignore
  internal/scripts/README.md
  internal/scripts/git-crypt/add-user/index.js
  internal/scripts/git-crypt/generate-key/index.js
  internal/standup-bot/README.md
  internal/standup-bot/src/utils/latch/base.rs
Due: none

785: Remove leftover codecov.yml file
  codecov.yml
Due: none

785: Add email/README.md
  email/README.md
Due: none

785: Add db/README.md
  db/README.md
Due: none

785: Refactor js/README.md
  js/.prettierignore
  js/README.md
  screenshots/stg-club-filters.png
  screenshots/stg-filters.png
Due: none

785: refactor infra/README.md
  infra/README
  infra/README.md
Due: none

785: refactor .do/README.md
  .do/README.md
Due: none

785: add docs/ (most of them come from wiki but with extra/combined information)
  docs/QUICK-LINKS.md
  docs/features/ACHIEVEMENTS.md
  docs/features/BGSYNC.md
  docs/features/DISCORD-INTEGRATIONS.md
  docs/features/DUELS.md
  docs/features/EMBED.md
  docs/features/LEADERBOARD.md
  docs/features/POTD.md
  docs/features/SCORES.md
  docs/features/USER-PROFILE.md
  docs/local/DEV-COMMANDS.md
  docs/local/README.md
  docs/local/SECRET.md
  docs/local/SETUP.md
  docs/local/TESTING-API-ENDPOINTS.md
  docs/observability/README.md
  docs/observability/dashboard.png
  screenshots/desmos-functions.png
  screenshots/discord-leaderboard-cmd.png
  screenshots/discord-leaderboard-end-winners.png
  screenshots/discord-leaderboard-weekly-update.png
  screenshots/discord-slash-leaderboard.png
  screenshots/leetcode-potd-1.png
  screenshots/leetcode-potd-2.png
  screenshots/patina-codebloom-page.png
  screenshots/prod-tahmid-profile-with-achievement.png
  screenshots/prod-tahmid-profile.png
  screenshots/prod-tahmid-submission-pt1.png
  screenshots/prod-tahmid-submission-pt2.png
  screenshots/prod-tahmid-submissions.png
  screenshots/stg-dashboard-potd-not-solved.png
  screenshots/stg-dashboard-potd-solved.png
  screenshots/stg-potd.png
  screenshots/toggle-global-rank.png
Due: none

785: add STYLEGUIDE.md and CONTRIBUTING.md
  CONTRIBUTING.md
  STYLEGUIDE.md
Due: none

785: add src/README.md
  src/README.md
Due: none

785: add .github/*/README.md files
  .github/READMEFIRST.md
  .github/scripts/README.md
Due: none

785: Total refactor of README.md
  README.md
  screenshots/stg-dashboard.png
  screenshots/stg-landing.png
  screenshots/stg-leaderboard.png
  src/README.md
Due: none
