Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

774: Added overload for withPage to allow passing a custom userAgent
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightProvider.java
  src/test/java/org/patinanetwork/codebloom/playwright/PlaywrightClientTest.java
Due: backend

774: Moved Playwright application to new file
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightProvider.java
Due: backend

774: Replaced usePage with withPage from PlaywrightProvider
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightProvider.java
  src/test/java/org/patinanetwork/codebloom/playwright/PlaywrightClientTest.java
Due: backend

774: Added tests for PlaywrightClient
  exclusions.ts
  src/test/java/org/patinanetwork/codebloom/playwright/PlaywrightClientTest.java
Due: none

788: Fix small UI bug where top of header was wider than sides
  js/src/components/ui/header/container/HeaderContainer.tsx
Due: frontend

788: Remove # from leaderboard page + reduce min width on leaderboard index text
  js/src/app/leaderboard/_components/Leaderboard.tsx
Due: frontend

788: Fixed Fix where buttons r broken
  js/src/components/ui/button/transitonal/TransitionalButtons.tsx
Due: frontend

652: Add initial placeholder e2e.yaml to main first
  .github/workflows/e2e.yml
Due: none

827: Replace OpenAI key with Gemini key
  .env.ci
Due: none

827: Replace OpenAI config in Qodo with Gemini config
  .github/workflows/ai-review.yml
Due: none

828: docker fix
  .github/scripts/utils/run-local-db.ts
  infra/Dockerfile
  internal/standup-bot/Dockerfile
Due: none

821: render tag by discord name if no username exists
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/MyCurrentPoints.tsx
Due: frontend

821: add tags to dashboard users
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/MyCurrentPoints.tsx
Due: frontend

815: Lowered wait time per request
  src/main/java/org/patinanetwork/codebloom/common/leetcode/throttled/ThrottledLeetcodeClientImpl.java
Due: backend

777: Fixed Issue where backend didnt have a datatype with pr suggestions
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/DataShape.java
Due: backend

777: Connect Frontend with types and keeping icons
  js/src/lib/api/utils/metadata/tag/index.ts
Due: frontend

777: ComplexJs Test
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/test/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGeneratorTest.java
Due: backend

777: Move metadata object on frontend to complex type gen in backend by rewriting logic in ComplexJSTypesGenerator
  src/main/java/org/patinanetwork/codebloom/common/db/models/usertag/Tag.java
  src/main/java/org/patinanetwork/codebloom/shared/tag/TagMetadataList.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/DataShape.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/Generator.java
Due: backend

777: Asked Claude For AI review
  src/main/java/org/patinanetwork/codebloom/common/db/models/usertag/Tag.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
Due: backend

777: Refactor tag metadata objects on the frontend
  js/src/lib/api/utils/metadata/tag/index.ts
  js/src/lib/api/utils/types.ts
Due: frontend

652: Add e2e/ folder as default JS project, basic README setup & an initial test
  e2e/.gitignore
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/README.md
  e2e/eslint.config.js
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
  e2e/src/leaderboard/filters.spec.ts
  e2e/tsconfig.json
  e2e/types.ts
Due: none

652: Stagger SubmissionScheduler by 10 minutes for now to stop thread locks caused by it (affects E2E)
  .env.ci
  example.env.ci
  src/main/java/org/patinanetwork/codebloom/scheduled/submission/SubmissionScheduler.java
Due: backend

652: Add Discord send message util fn, add e2e test to CI (lint in CI, full e2e via scheduled actions at 12:18PM ET daily)
  .github/scripts/bun.lock
  .github/scripts/package.json
  .github/scripts/test/run-e2e-tests.ts
  .github/scripts/utils/discord/send-message.ts
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  e2e/playwright.config.ts
Due: none
