Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

652: Add force wait of 1s after backend sigterm is sent, giving it time to die
  .github/scripts/utils/run-backend-instance.ts
Due: none

652: Add Discord send message util fn, add e2e test to CI (lint in CI, full e2e via scheduled actions at 12:18PM ET daily)
  .github/scripts/bun.lock
  .github/scripts/package.json
  .github/scripts/test/run-e2e-tests.ts
  .github/scripts/utils/discord/send-message.ts
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  e2e/playwright.config.ts
Due: none

652: Stagger SubmissionScheduler by 10 minutes for now to stop thread locks caused by it (affects E2E)
  .env.ci
  example.env.ci
  src/main/java/org/patinanetwork/codebloom/scheduled/submission/SubmissionScheduler.java
Due: backend

652: Add e2e/ folder as default JS project, basic README setup & an initial test
  e2e/.gitignore
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/README.md
  e2e/eslint.config.js
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
  e2e/src/leaderboard/filters.spec.ts
  e2e/tsconfig.json
  e2e/types.ts
Due: none

809: refactor footer
  js/src/components/ui/footer/Footer.module.css
  js/src/components/ui/footer/Footer.tsx
Due: frontend

809: add tests
  js/src/components/ui/footer/Footer.module.css
  js/src/components/ui/footer/Footer.test.tsx
  js/src/components/ui/footer/Footer.tsx
Due: frontend

809: remove tailwind classes
  js/src/components/ui/footer/Footer.tsx
Due: frontend

809: fixes
  js/src/components/ui/footer/Footer.module.css
  js/src/components/ui/footer/Footer.test.tsx
  js/src/components/ui/footer/Footer.tsx
Due: frontend

801: testing
  .github/workflows/ai-review.yml
Due: none

801: ai suggestion
  .github/workflows/ai-review.yml
Due: none

801: testestttest
  .github/workflows/ai-review.yml
Due: none

801: fix
  .github/workflows/ai-review.yml
Due: none

810: update styleguide
  STYLEGUIDE.md
Due: none

801: /ai review run after every push
  .github/workflows/ai-review.yml
Due: none

801: run /ai after first pr push
  .github/workflows/ai-review.yml
Due: none

801: security fixes
  .github/workflows/ai-command.yml
  .github/workflows/ai-review.yml
Due: none

801: ai
  .github/workflows/ai-review.yml
Due: none

801: ai fix
  .github/workflows/ai-review.yml
Due: none

801: blablabla
  .github/workflows/ai-review.yml
Due: none

801: fhaksdja
  .github/workflows/ai-review.yml
Due: none

820: Added date range indicator
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
Due: frontend

801: pls work
  .github/workflows/ai-review.yml
Due: none

801: testing 2nd commit push
  .github/workflows/ai-review.yml
Due: none

801: testing for new commits incoming
  .github/workflows/ai-review.yml
Due: none

801: 1st push
  .github/workflows/ai-review.yml
Due: none

801: 2nd commit push test
  .github/workflows/ai-review.yml
Due: none

801: 3rd test
  .github/workflows/ai-review.yml
Due: none

801: update persistent_comment
  .github/workflows/ai-review.yml
Due: none

801: PR-Agent called when new commits are pushed
  .github/workflows/ai-review.yml
Due: none

794: Refactor Leaderboard to use Optional
  src/main/java/org/patinanetwork/codebloom/api/admin/AdminController.java
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
  src/main/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardController.java
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/main/java/org/patinanetwork/codebloom/common/db/models/leaderboard/Leaderboard.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/common/dto/leaderboard/LeaderboardDto.java
  src/main/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandler.java
  src/test/java/org/patinanetwork/codebloom/api/admin/AdminControllerTest.java
  src/test/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/api/leaderboard/LeaderboardControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardRepositoryRankTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandlerTest.java
Due: backend

783: Added refresh command for discord
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardException.java
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/main/java/org/patinanetwork/codebloom/common/dto/refresh/RefreshResultDto.java
  src/main/java/org/patinanetwork/codebloom/common/page/Indexed.java
  src/main/java/org/patinanetwork/codebloom/jda/command/JDASlashCommand.java
  src/main/java/org/patinanetwork/codebloom/jda/command/JDASlashCommandHandler.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
  src/test/java/org/patinanetwork/codebloom/jda/JDASlashCommandHandlerTest.java
Due: backend

783: add leaderboard exception to rebased methods
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: backend
