Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

660: remove demandoption for runUrl
  .github/scripts/copy-prod-db/index.ts
Due: none

700: (FOTFIX) use ref for slash command dispatch
  .github/workflows/slash.yml
Due: none

700: (FOTFIX) put ref in the right place
  .github/workflows/slash.yml
Due: none

700: (HOTFIX) remove old ref
  .github/workflows/slash.yml
Due: none

700: (HOTFIX) use branch ref not sha ref
  .github/workflows/slash.yml
Due: none

testinggg
  .github/workflows/deploy-command.yml
Due: none

700: (HOTFIX) Remove old manual slash command trigger commands
  Justfile
Due: none

800: Fix Notion PR links mashing together instead of being \n separated
  .github/scripts/notion/task/index.ts
Due: none

802: Changed leetcode username verification to contain key instead of exact key
  src/main/java/org/patinanetwork/codebloom/api/submission/SubmissionController.java
Due: backend

780: add headless env to yml, change to string
  example.env
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/main/resources/application.yml
Due: backend

780: change headless to bool
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
Due: backend

780: inject headless env to playwrightclient
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
Due: backend

780: set default headless in yml
  src/main/resources/application.yml
Due: none

804: Reordered mobile leaderboard
  js/src/app/leaderboard/_components/Leaderboard.tsx
Due: frontend

792: Replaced conditional string parsing of error with just JSON.stringify
  .github/scripts/auto-approval/index.ts
  .github/scripts/utils/send-message/index.ts
  .github/scripts/utils/update-pr-description.ts
Due: none

792: Moved stg cleanup script to SQL file
  .github/scripts/copy-prod-db/index.ts
  .github/scripts/utils/update-commit-status/index.ts
  infra/README.md
  infra/clean-stg-db.SQL
Due: none

811: Add SHA as a metric
  src/main/java/org/patinanetwork/codebloom/utilities/SystemMetricsConfig.java
Due: backend

658: report issue tests
  js/src/__mock__/reporter/index.ts
  js/src/app/issue/report/ReportIssue.page.test.tsx
  js/src/app/issue/report/ReportIssue.page.tsx
Due: frontend

658: added page to report an issue + send it to /api/reporter/feedback
  js/src/app/issue/report/ReportIssue.page.tsx
  js/src/lib/api/queries/reporter/index.ts
  js/src/lib/router.tsx
Due: frontend

658: added auth test and check
  js/src/__mock__/auth/index.ts
  js/src/app/issue/report/ReportIssue.page.test.tsx
  js/src/app/issue/report/ReportIssue.page.tsx
  js/src/app/issue/report/_components/ReportIssueForm.test.tsx
  js/src/app/issue/report/_components/ReportIssueForm.tsx
  js/src/lib/router.tsx
Due: frontend

658: add zod schema for validation logic
  js/src/app/issue/report/ReportIssue.page.tsx
  js/src/lib/api/schema/reporter/index.ts
Due: frontend

797: inject styleguide into qodo
  .github/workflows/ai-review.yml
Due: none

758: Added checks permissions to ci-cd and deploy
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-command.yml
Due: none
