Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

822: Moved Retry logging to a config class
  src/main/java/org/patinanetwork/codebloom/common/config/RetryLoggingConfig.java
  src/test/java/org/patinanetwork/codebloom/common/config/RetryLoggingConfigTest.java
Due: backend

822: Added Circuit Breaker with Retry
  pom.xml
  src/main/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientImpl.java
  src/main/resources/application.yml
Due: backend

822: Made retry logging more verbose
  src/main/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientImpl.java
Due: backend

822: Added SpringBootTest for LeetcodeClient's circuit breaker
  src/test/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientCircuitBreakerTest.java
Due: none

822: Removed health-indictor from application yml
  src/main/resources/application.yml
Due: none

823: replace timer() with Timed
  src/main/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientImpl.java
  src/main/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealer.java
  src/test/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientTest.java
Due: backend

740: Embedded audience in JWT
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/jwt/JWTClient.java
  src/main/java/org/patinanetwork/codebloom/common/jwt/impl/JWTClientImpl.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/jwt/JWTTest.java
Due: backend

740: Fixed diff host email verif success
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
Due: backend

858: Added daterange popover
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/DateRangeIndicator.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
Due: frontend

801: added synchronize to pr_action, enabled handle_push_trigger
  .github/workflows/ai-review.yml
Due: none

801: fresh testing
  .github/workflows/ai-review.yml
Due: none

739: added CodebloomCard component, replaced all card UI
  js/src/app/_component/MiniLeaderboard.tsx
  js/src/app/_component/MiniLeaderboardMobile.tsx
  js/src/app/_component/OurFeatures.tsx
  js/src/app/_component/skeletons/MiniLeaderboardSkeleton.tsx
  js/src/app/admin/_components/incomplete/IncompleteQuestionList.tsx
  js/src/app/club/[clubSlug]/_components/ClubSignUpSkeleton.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboardSkeleton.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDay.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDaySkeleton.tsx
  js/src/app/dashboard/_components/RecentSubmissions/RecentSubmissions.tsx
  js/src/app/dashboard/_components/RecentSubmissions/RecentSubmissionsSkeleton.tsx
  js/src/app/duel/[lobbyCode]/_components/PlayerCard.tsx
  js/src/app/issue/report/_components/ReportIssueForm.tsx
  js/src/app/leaderboard/_components/Leaderboard.tsx
  js/src/app/leaderboard/all/_components/DashboardListView.tsx
  js/src/app/login/Login.page.tsx
  js/src/app/onboarding/_components/UsernameForm.tsx
  js/src/app/settings/_components/ChangeImageSettingsCard.tsx
  js/src/app/settings/_components/LogoutAllSessionsCard.tsx
  js/src/app/settings/_components/SchoolVerifySettingsCard.tsx
  js/src/app/settings/_components/SettingsSkeleton.tsx
  js/src/app/submission/[submissionId]/_components/SubmissionDetailsContent.tsx
  js/src/app/submission/[submissionId]/_components/SubmissionDetailsContentSkeleton.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/MiniUserSubmissions.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
  js/src/components/ui/CodebloomCard.tsx
  js/src/components/ui/LeaderboardCard.tsx
Due: frontend

739: fixed mapping, variable, added polymorphic component from mantine
  js/src/components/ui/CodebloomCard.tsx
Due: frontend

739: prettier
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDay.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
Due: frontend

739: remove duplication and redundancy
  js/src/app/admin/_components/incomplete/IncompleteQuestionList.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDay.tsx
  js/src/app/duel/[lobbyCode]/_components/PlayerCard.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/MiniUserSubmissions.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
Due: frontend

739: tests
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
Due: frontend

fake changes
  js/src/app/_component/AboutUs.tsx
Due: frontend

801:801:801:801:801:801:801:fake changes
  js/src/app/_component/AboutUs.tsx
Due: frontend

801: Changes
  js/src/app/_component/AboutUs.tsx
Due: frontend

816: Enabled auto approval when notion priority is Support
  .github/scripts/auto-approval/index.ts
Due: none

816: Added guard against malicious external auto-approvals
  .github/scripts/auto-approval/index.ts
Due: none

837: add user metrics check every 30 mins
  src/main/java/org/patinanetwork/codebloom/common/db/models/task/BackgroundTaskEnum.java
  src/main/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsService.java
  src/test/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsServiceTest.java
Due: backend

731: Add pre-commit hook to run backend linters and frontend linters
  Justfile
  internal/pre-commit
Due: none

739: added CodebloomCard component, replaced all card UI
  js/src/app/_component/MiniLeaderboard.tsx
  js/src/app/_component/MiniLeaderboardMobile.tsx
  js/src/app/_component/OurFeatures.tsx
  js/src/app/_component/skeletons/MiniLeaderboardSkeleton.tsx
  js/src/app/admin/_components/incomplete/IncompleteQuestionList.tsx
  js/src/app/club/[clubSlug]/_components/ClubSignUpSkeleton.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.test.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboardSkeleton.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDay.tsx
  js/src/app/dashboard/_components/ProblemOfTheDay/ProblemOfTheDaySkeleton.tsx
  js/src/app/dashboard/_components/RecentSubmissions/RecentSubmissions.tsx
  js/src/app/dashboard/_components/RecentSubmissions/RecentSubmissionsSkeleton.tsx
  js/src/app/duel/[lobbyCode]/_components/PlayerCard.tsx
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
  js/src/app/issue/report/_components/ReportIssueForm.tsx
  js/src/app/leaderboard/_components/Leaderboard.tsx
  js/src/app/leaderboard/all/_components/DashboardListView.tsx
  js/src/app/login/Login.page.tsx
  js/src/app/onboarding/_components/UsernameForm.tsx
  js/src/app/settings/_components/ChangeImageSettingsCard.tsx
  js/src/app/settings/_components/LogoutAllSessionsCard.tsx
  js/src/app/settings/_components/SchoolVerifySettingsCard.tsx
  js/src/app/settings/_components/SettingsSkeleton.tsx
  js/src/app/submission/[submissionId]/_components/SubmissionDetailsContent.tsx
  js/src/app/submission/[submissionId]/_components/SubmissionDetailsContentSkeleton.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/MiniUserSubmissions.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
  js/src/components/ui/CodebloomCard.tsx
  js/src/components/ui/LeaderboardCard.tsx
Due: frontend

739: updated leaderboard cards
  js/src/app/dashboard/_components/DashboardLeaderboard/DashboardLeaderboard.tsx
  js/src/components/ui/LeaderboardCard.tsx
Due: frontend

825: Added ContextClosedEvent handler to shutdown SubmissionSchedueler
  src/main/java/org/patinanetwork/codebloom/scheduled/submission/SubmissionScheduler.java
Due: backend

863: Setup loki log forwarding (& temporarily disable structured logging since they pass through Loki which can't see ECS log structure)
  pom.xml
  src/main/resources/application-prod.yml
  src/main/resources/application-stg.yml
  src/main/resources/application.yml
  src/main/resources/logback-spring.xml
Due: none

863: Setup loki environment variables in staging & production
  .env.production
  .env.staging
  example.env
  example.env.production
  example.env.staging
Due: none
