Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

694: Fix where staging goes
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
Due: none

694: Renaming File
  db/migration/V0073__Add_gwc_hunter_to_discord_club.SQL
Due: none

694: Renaming GWC - Hunter
  .github/scripts/copy-prod-db/index.ts
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  js/src/lib/api/utils/metadata/tag/index.ts
  src/main/java/org/patinanetwork/codebloom/common/db/models/usertag/Tag.java
Due: backend, frontend

694: pr changes
  .github/scripts/copy-prod-db/index.ts
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
Due: backend

694: Added Gwc for Hunter for Discord Migration
  .github/scripts/copy-prod-db/index.ts
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  js/src/lib/api/utils/metadata/tag/index.ts
  src/main/java/org/patinanetwork/codebloom/common/db/models/usertag/Tag.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/options/LeaderboardFilterGenerator.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/options/LeaderboardFilterGeneratorTest.java
Due: backend, frontend

694: Backend Errors + Fix Discord Channel ID
  js/src/lib/api/utils/metadata/tag/index.ts
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
Due: backend, frontend

762: Replace MultiplexedConnection with ConnectionManager
  internal/standup-bot/Cargo.lock
  internal/standup-bot/Cargo.toml
  internal/standup-bot/src/redis/client.rs
Due: none

762: Remove unnecessary await
  internal/standup-bot/src/redis/client.rs
Due: none

764: Implement CountdownLatch in Rust
  internal/standup-bot/src/main.rs
  internal/standup-bot/src/utils/latch/base.rs
  internal/standup-bot/src/utils/latch/error.rs
  internal/standup-bot/src/utils/latch/mod.rs
  internal/standup-bot/src/utils/mod.rs
  internal/standup-bot/src/utils/standup.rs
Due: none

764: Use CountdownLatch to ensure that Discord client is loaded before continuing onwards.
  internal/standup-bot/src/discord/client.rs
  internal/standup-bot/src/discord/handlers.rs
  internal/standup-bot/src/main.rs
Due: none

723: Added Oshi to better memory metric
  pom.xml
  src/main/java/org/patinanetwork/codebloom/utilities/SystemMetricsConfig.java
Due: backend

723: Pr Changes
  src/main/java/org/patinanetwork/codebloom/utilities/SystemMetricsConfig.java
Due: backend

687: Create client in function
  .github/scripts/utils/update-commit-status/index.ts
Due: none

687: Update status for /copy and remove PR comment
  .github/scripts/copy-prod-db/index.ts
  .github/scripts/utils/update-commit-status/index.ts
  .github/workflows/copy-db.yml
Due: none

721: update date for all cards
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
Due: frontend

721: added startDate/endDate to leaderboard embed for users profile
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
Due: frontend

721: Exclude test.{ts,tsx} files from Sonar reporting
  exclusions.ts
Due: none

721: tests
  js/src/__mock__/leaderboard/index.ts
  js/src/app/embed/leaderboard/_components/OrgEmbedView.test.tsx
  js/src/app/leaderboard/_components/LeaderboardSkeleton.tsx
  js/tsconfig.test.json
Due: frontend

769: Renamed Email Client Files
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/email/EmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/error/EmailException.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplater.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterImpl.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/TestEmailClients.java
  src/test/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterTest.java
Due: backend

761: Move this week's WeeklyLeaderboard back one day
  db/migration/V0074__Fix_WeeklyLeaderboard_2.SQL
Due: none

765: Implement ComplexJSTypesGenerator
  js/.gitignore
  src/main/java/org/patinanetwork/codebloom/shared/tag/ParentTags.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/ComplexJSTypesGenerator.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/DataShape.java
  src/main/java/org/patinanetwork/codebloom/utilities/generator/complex/Generator.java
Due: backend

765: Setup get parent tags from API utils
  js/src/lib/api/utils/index.ts
Due: frontend

720: add frontend tests
  js/src/__mock__/user/index.ts
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePicture.test.tsx
  js/src/app/user/[userId]/_components/UserProfile/ProfilePicture/ProfilePictureSkeleton.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissionsSkeleton.tsx
Due: frontend
