Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

745: Added Gauge for Simple Redis
  src/main/java/org/patinanetwork/codebloom/common/simpleredis/SimpleRedisProvider.java
Due: backend

716: Catch auth keys in Redis in all environments
  src/main/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealer.java
  src/test/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealerTest.java
Due: backend

754: Update onboarding page text to account for new Leetcode UI update
  js/src/app/onboarding/_components/UsernameForm.tsx
Due: frontend

754: Update go to profile to be a button (and updated text)
  js/src/app/onboarding/_components/UsernameForm.tsx
Due: frontend

708: align embed leaderboard cards
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
Due: frontend

708: prettier fix
  js/src/app/embed/leaderboard/_components/OrgEmbedView.tsx
Due: frontend

755: Setup codebloom-standup-bot build / deployment scripts & add Coolify under internal (DESC)
  .github/scripts/build-image/internal/standup-bot.ts
  .github/scripts/bun.lock
  .github/scripts/package.json
  .github/scripts/redeploy/internal/coolify/index.ts
  .github/scripts/redeploy/internal/standup-bot/index.ts
  .github/scripts/redeploy/internal/standup-bot/utils.ts
Due: none

755: Create codebloom-standup-bot (DESC)
  internal/standup-bot/.env.production
  internal/standup-bot/.gitignore
  internal/standup-bot/Cargo.lock
  internal/standup-bot/Cargo.toml
  internal/standup-bot/Dockerfile
  internal/standup-bot/README.md
  internal/standup-bot/example.env
  internal/standup-bot/example.env.production
  internal/standup-bot/rustfmt.toml
  internal/standup-bot/src/discord/client.rs
  internal/standup-bot/src/discord/commands/hello.rs
  internal/standup-bot/src/discord/commands/mod.rs
  internal/standup-bot/src/discord/credentials.rs
  internal/standup-bot/src/discord/handlers.rs
  internal/standup-bot/src/discord/mod.rs
  internal/standup-bot/src/main.rs
  internal/standup-bot/src/redis/client.rs
  internal/standup-bot/src/redis/credentials.rs
  internal/standup-bot/src/redis/error.rs
  internal/standup-bot/src/redis/mod.rs
  internal/standup-bot/src/utils.rs
Due: none

755: Add .gitattributes for all new env files
  .gitattributes
Due: none

755: Initialize internal/ pkg with Coolify credentials
  internal/.env.ci
  internal/README.md
  internal/example.env.ci
Due: none

755: Wire up deploy & buildImage (+ test) for codebloom-standup-bot
  .github/composite/build-image/internal/standup-bot/action.yml
  .github/composite/redeploy/internal/standup-bot/action.yml
  .github/workflows/ci-cd.yml
Due: none

755: Add any required IDE configuration for Rust
  .nvim.lua
  .vscode/extensions.json
Due: none

748: Renamed base Email class
  src/main/java/org/patinanetwork/codebloom/common/email/EmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/error/EmailException.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
Due: backend

748: Renamed file w w/o Client
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClient.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmailClientProperties.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmail.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailImpl.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/TestEmailClients.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTest.java
Due: backend

748: Renamed variables
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplater.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterImpl.java
  src/main/java/org/patinanetwork/codebloom/playwright/PlaywrightClient.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/email/TestEmailClients.java
  src/test/java/org/patinanetwork/codebloom/common/email/template/ReactEmailTemplaterTest.java
Due: backend

740: Fixed diff host email verif success
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
Due: backend

749: Added Filtering for discord messages by showing only top 1 or top 2 if theres not enough ppl w points and also if no one has points by end of leaderboard, sends a message
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: backend

749: Pr changes
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: backend

760: Tag @dev in standup message
  internal/standup-bot/src/discord/client.rs
Due: none

761: Move previous week's WeeklyLeaderboard back one day
  db/migration/V0072__Fix_WeeklyLeaderboard_1.SQL
Due: none

694: Added Gwc for Hunter for Discord Migration
  .github/scripts/copy-prod-db/index.ts
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  js/src/lib/api/utils/metadata/tag/index.ts
  src/main/java/org/patinanetwork/codebloom/common/db/models/usertag/Tag.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/options/LeaderboardFilterGenerator.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/options/LeaderboardFilterGeneratorTest.java
Due: backend, frontend

694: Backend Errors + Fix Discord Channel ID
  js/src/lib/api/utils/metadata/tag/index.ts
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
Due: backend, frontend

694: Renaming GWC - Hunter
  .github/scripts/copy-prod-db/index.ts
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  js/src/lib/api/utils/metadata/tag/index.ts
  src/main/java/org/patinanetwork/codebloom/common/db/models/usertag/Tag.java
Due: backend, frontend

694: pr changes
  .github/scripts/copy-prod-db/index.ts
  db/migration/V0072__Add_gwc_hunter_to_discord_club.SQL
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/LeaderboardManagerTest.java
Due: backend

Path conditions:
  backend: any of: src/main/java/
  frontend: any of: js/src/
