Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false
    after_n_builds: 2

flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true
  frontend:
    paths:
      - js/src/
    carryforward: true

coverage:
  status:
    project:
      default:
        target: 60%
        informational: true
      backend:
        target: 60%
        flags:
          - backend
        informational: true
      frontend:
        target: 60%
        flags:
          - frontend
        informational: true
    patch:
      default:
        informational: false
        target: 80%
        threshold: 5%
        only_pulls: true
      backend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - backend
        informational: false
      frontend:
        target: 80%
        threshold: 5%
        only_pulls: true
        flags:
          - frontend
        informational: false

comment:
  behavior: new # delete old and post new.

704: exhausive-deps causes eslint error, past warnings resolved
  js/eslint.config.js
  js/src/app/duel/[lobbyCode]/_components/active/ActiveDuelBody.tsx
  js/src/lib/api/queries/duels/sse/index.ts
Due: frontend

737: Removed Counter use
  src/main/java/org/patinanetwork/codebloom/common/simpleredis/SimpleRedis.java
  src/main/resources/application.yml
Due: backend

746: Add explicit test exclusions for frontend and backend for Sonar
  .github/scripts/utils/upload.ts
  exclusions.ts
Due: none

746: Remove old test coverage logic
  Justfile
  pom.xml
Due: none

714: remove pr messages when /deploy to staging
  .github/workflows/deploy-stg.yml
Due: none

741: Migrate e.printStackTrace into SLF4J log.errors so it will be formatted & setup more correct exception handling overall
  src/main/java/org/patinanetwork/codebloom/CodebloomApplication.java
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/jda/client/JDAClient.java
  src/main/java/org/patinanetwork/codebloom/scheduled/leetcode/AttachTagsToExistingQuestion.java
  src/main/java/org/patinanetwork/codebloom/scheduled/leetcode/LeetcodeQuestionProcessService.java
  src/main/java/org/patinanetwork/codebloom/utilities/exception/ControllerExceptionHandler.java
  src/main/java/org/patinanetwork/codebloom/utilities/exception/ScheduledTaskExceptionHandler.java
Due: backend

741: Attempt to interrupt thread if JDA client is interrupted during JDA launch
  src/main/java/org/patinanetwork/codebloom/jda/client/JDAClient.java
Due: backend

741: Condense SHA value into one shared properties file
  src/main/java/org/patinanetwork/codebloom/api/ApiController.java
  src/main/java/org/patinanetwork/codebloom/utilities/sha/CommitShaFilter.java
  src/main/java/org/patinanetwork/codebloom/utilities/sha/CommitShaProperties.java
Due: backend

741: Refactor old test location for ApiController
  src/test/java/org/patinanetwork/codebloom/api/ApiControllerTest.java
Due: none

741: Enable structured logging for dev/stg
  src/main/resources/application-prod.yml
  src/main/resources/application-stg.yml
Due: none

741: Add exception logging tests
  exclusions.ts
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
  src/test/java/org/patinanetwork/codebloom/scheduled/leetcode/AttachTagsToExistingQuestionTest.java
  src/test/java/org/patinanetwork/codebloom/utilities/exception/ControllerExceptionHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/utilities/exception/ScheduledTaskExceptionHandlerTest.java
Due: backend

735: Added A Leaderboard Util To filter out achievements on both leaderboard and discord message
  src/main/java/org/patinanetwork/codebloom/common/components/DiscordClubManager.java
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/main/java/org/patinanetwork/codebloom/common/utils/leaderboard/LeaderboardUtils.java
  src/test/java/org/patinanetwork/codebloom/common/components/DiscordClubManagerTest.java
Due: backend

735: Pr changes
  src/main/java/org/patinanetwork/codebloom/common/components/LeaderboardManager.java
  src/main/java/org/patinanetwork/codebloom/common/utils/leaderboard/LeaderboardUtils.java
  src/test/java/org/patinanetwork/codebloom/common/utils/leaderboard/LeaderboardUtilsTest.java
Due: backend

735: added Tests for LeaderboardUtils
  src/test/java/org/patinanetwork/codebloom/common/utils/leaderboard/LeaderboardUtilsTest.java
Due: none

727: Wire up RedisClient which interfaces with JedisClientManager
  src/main/java/org/patinanetwork/codebloom/common/jedis/JedisClient.java
  src/main/java/org/patinanetwork/codebloom/common/jedis/JedisClientNotSupportedException.java
  src/main/java/org/patinanetwork/codebloom/common/redis/JedisClientConfiguration.java
  src/main/java/org/patinanetwork/codebloom/common/redis/JedisClientManager.java
  src/main/java/org/patinanetwork/codebloom/common/redis/RedisClient.java
  src/main/resources/application-ci.yml
  src/main/resources/application.yml
Due: backend

727: Update Redis credentials for staging & production
  .env.production
  .env.staging
  example.env
  example.env.ci-app
  example.env.production
  example.env.staging
Due: none

727: Update JedisClient -> RedisClient references
  src/main/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealer.java
  src/test/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealerTest.java
Due: backend

501: Slow question processing down
  src/main/java/org/patinanetwork/codebloom/scheduled/leetcode/LeetcodeQuestionProcessService.java
Due: backend

685: Added Timed to EmailClient
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailClientImpl.java
Due: backend

685: Added spacing
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmail.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmail.java
Due: backend

685: Corrected email client type
  src/main/java/org/patinanetwork/codebloom/common/email/client/codebloom/OfficialCodebloomEmail.java
  src/main/java/org/patinanetwork/codebloom/common/email/client/github/GithubOAuthEmail.java
  src/main/java/org/patinanetwork/codebloom/common/email/template/ReactEmailClientImpl.java
Due: backend
