Repository tahminator/codebloom: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

731: Add pre-commit hook to run backend linters and frontend linters
  Justfile
  internal/pre-commit
Due: none

837: Add user metrics check every 30 mins
  db/migration/V0076__Add_user_metrics_enum.sql
  src/main/java/org/patinanetwork/codebloom/common/db/models/task/BackgroundTaskEnum.java
  src/main/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsService.java
  src/test/java/org/patinanetwork/codebloom/scheduled/metrics/AddUserMetricsServiceTest.java
Due: backend

816: Added markdown file for auto-approval github script
  docs/ci/AUTO_APPROVALS.md
Due: none

876: Added optional to all of the nullable function returns in POTDRepository
  src/main/java/org/patinanetwork/codebloom/api/submission/SubmissionController.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/potd/POTDRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/potd/POTDSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandler.java
  src/main/java/org/patinanetwork/codebloom/scheduled/potd/PotdSetter.java
  src/test/java/org/patinanetwork/codebloom/api/submission/SubmissionControllerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/potd/POTDRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/scheduled/potd/PotdSetterTest.java
Due: backend

876: Replaced Optional POTD retrieval with value or throw statement
  src/main/java/org/patinanetwork/codebloom/api/submission/SubmissionController.java
  src/test/java/org/patinanetwork/codebloom/api/submission/SubmissionControllerTest.java
Due: backend

838: add metrics api endpoint in UserController
  src/main/java/org/patinanetwork/codebloom/api/user/UserController.java
  src/main/java/org/patinanetwork/codebloom/common/dto/user/metrics/MetricsDto.java
  src/main/java/org/patinanetwork/codebloom/jda/properties/FeatureFlagConfiguration.java
  src/main/resources/application-stg.yml
  src/main/resources/application.yml
  src/test/java/org/patinanetwork/codebloom/api/user/UserControllerTest.java
Due: backend

868 : Pr changes
  .github/scripts/pr-description-check/index.ts
Due: none

868: Added Validation to fill out descriptions in Pr
  .github/composite/pr-description-check/action.yml
  .github/scripts/pr-description-check/index.ts
  .github/workflows/pr-verifications.yml
Due: none

875: Pr changes
  src/main/java/org/patinanetwork/codebloom/common/components/duel/DuelManager.java
Due: backend

875: Migrate QuestionBank/QuestionBankRepository
  src/main/java/org/patinanetwork/codebloom/common/components/duel/DuelManager.java
  src/main/java/org/patinanetwork/codebloom/common/db/models/question/bank/QuestionBank.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/question/questionbank/QuestionBankRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/question/questionbank/QuestionBankSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/common/dto/question/QuestionBankDto.java
  src/main/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandler.java
  src/test/java/org/patinanetwork/codebloom/common/components/duel/DuelManagerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/question/bank/QuestionBankRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/submissions/SubmissionsHandlerTest.java
Due: backend

870: get rid of cluttering logs
  src/main/java/org/patinanetwork/codebloom/scheduled/submission/SubmissionScheduler.java
Due: backend

823: replace with LeetcodeClientException
  src/main/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientException.java
  src/main/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientImpl.java
  src/main/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealer.java
  src/test/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientTest.java
  src/test/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealerTest.java
Due: backend

823: replace timer() with Timed
  src/main/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientImpl.java
  src/main/java/org/patinanetwork/codebloom/scheduled/auth/LeetcodeAuthStealer.java
  src/test/java/org/patinanetwork/codebloom/common/leetcode/LeetcodeClientTest.java
Due: backend

861: Swap toggle button and text
  js/src/components/ui/dropdown/FilterDropdownItem.tsx
Due: frontend

853: create /leaderboard/current endpoint
  src/main/java/org/patinanetwork/codebloom/api/admin/AdminController.java
  src/main/java/org/patinanetwork/codebloom/api/admin/body/EditLeaderboardBody.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardSqlRepository.java
Due: backend

853: add tests
  src/main/java/org/patinanetwork/codebloom/api/admin/AdminController.java
  src/main/java/org/patinanetwork/codebloom/api/admin/body/EditLeaderboardBody.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/leaderboard/LeaderboardSqlRepository.java
  src/test/java/org/patinanetwork/codebloom/api/admin/AdminControllerTest.java
Due: backend

858: Resolved comments
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/DateRangeIndicator.tsx
Due: frontend

858: Added daterange popover
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/DateRangeIndicator.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.test.tsx
  js/src/app/user/[userId]/submissions/_components/UserSubmissions/UserSubmissions.tsx
Due: frontend

867: Updated CI to Node 24
  .github/composite/build-image/action.yml
  .github/composite/build-image/internal/standup-bot/action.yml
  .github/composite/load-secrets/action.yml
  .github/composite/redeploy/action.yml
  .github/composite/redeploy/internal/standup-bot/action.yml
  .github/composite/setup-ci/action.yml
  .github/composite/test/backend-pre-test/action.yml
  .github/composite/test/backend-test/action.yml
  .github/composite/test/frontend-pre-test/action.yml
  .github/composite/test/frontend-test/action.yml
  .github/composite/validate-db/action.yml
  .github/workflows/ai-command.yml
  .github/workflows/ai-review.yml
  .github/workflows/approval.yml
  .github/workflows/auto-approval.yml
  .github/workflows/ci-cd.yml
  .github/workflows/copy-command.yml
  .github/workflows/deploy-command.yml
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/pr-verifications.yml
  .github/workflows/slash.yml
Due: none

873: Migrate Session repository to use Optional
  src/main/java/org/patinanetwork/codebloom/api/auth/AuthController.java
  src/main/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandler.java
  src/main/java/org/patinanetwork/codebloom/common/db/models/Session.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/session/SessionRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/session/SessionSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/common/dto/session/SessionDto.java
  src/main/java/org/patinanetwork/codebloom/common/security/Protector.java
  src/test/java/org/patinanetwork/codebloom/api/auth/AuthControllerTest.java
  src/test/java/org/patinanetwork/codebloom/api/auth/security/CustomAuthenticationSuccessHandlerTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/BaseRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/session/SessionRepositoryTest.java
  src/test/java/org/patinanetwork/codebloom/common/security/ProtectorTest.java
  src/test/java/org/patinanetwork/codebloom/config/TestProtector.java
Due: backend

874: Migrated Question To Optional
  src/main/java/org/patinanetwork/codebloom/common/db/models/question/topic/QuestionTopic.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/question/topic/QuestionTopicRepository.java
  src/main/java/org/patinanetwork/codebloom/common/db/repos/question/topic/QuestionTopicSqlRepository.java
  src/main/java/org/patinanetwork/codebloom/common/dto/question/topic/QuestionTopicDto.java
  src/test/java/org/patinanetwork/codebloom/common/db/repos/question/topic/QuestionTopicRepositoryTest.java
Due: backend

Path conditions:
  backend: any of: src/main/java/
  frontend: any of: js/src/
